#
# SPDX-FileCopyrightText: The LineageOS Project
# SPDX-License-Identifier: Apache-2.0
#

import /vendor/etc/init/hw/init.mainline.rc
import /vendor/etc/init/hw/init.mainline.qcom.${ro.vendor.qcom.soc.family}.rc

# /dev/block/bootdevice symlink
on init
    symlink /dev/block/platform/${ro.boot.boot_devices} /dev/block/bootdevice

# Firmware generation
on early-init
    mount tmpfs none /vendor/firmware_gen size=256M

on property:sys.bootstat.first_boot_completed=1
    umount /vendor/firmware_gen

# init.mainline.qcom.sh service
service vendor.init-mainline-qcom-sh /vendor/bin/init.mainline.qcom.sh
    user root
    group root
    oneshot
    disabled

on init
    start vendor.init-mainline-qcom-sh

# Modem
service vendor.pd-mapper /vendor/bin/pd-mapper
    class core
    user root
    group system
    disabled
    oneshot

service vendor.qrtr-ns /vendor/bin/qrtr-ns -f 1
    class core
    user root
    group system
    disabled
    oneshot

service vendor.rmtfs /vendor/bin/rmtfs -o /dev/block/by-name -P -r -s
    class core
    user root
    group system
    disabled
    oneshot

service vendor.tqftpserv /vendor/bin/tqftpserv
    class core
    user root
    group system
    disabled
    oneshot

on boot
    exec - root -- /vendor/bin/qrtr-cfg 1
    start vendor.qrtr-ns

    start vendor.pd-mapper

    mkdir /data/vendor/tmp
    mkdir /data/vendor/readonly
    mkdir /data/vendor/readonly/firmware
    mkdir /data/vendor/readonly/firmware/image
    mkdir /data/vendor/readwrite

    write /sys/class/firmware/timeout 1

    start vendor.tqftpserv
    start vendor.rmtfs

on shutdown
    stop vendor.rmtfs

# Set SoC properties
on property:vendor.qcom.soc.machine=*
    setprop ro.soc.model ${vendor.qcom.soc.machine}
