#
# SPDX-FileCopyrightText: The LineageOS Project
# SPDX-License-Identifier: Apache-2.0
#

import /vendor/etc/init/hw/init.mainline.rc
import /vendor/etc/init/hw/init.mainline.qcom.${ro.vendor.qcom.soc.family}.rc

# /dev/block/bootdevice symlink
on init
    symlink /dev/block/platform/${ro.boot.boot_devices} /dev/block/bootdevice

# init.mainline.qcom.sh service
service vendor.init-mainline-qcom-sh /vendor/bin/init.mainline.qcom.sh
    user root
    group root
    oneshot
    disabled

on init
    start vendor.init-mainline-qcom-sh

# Set SoC properties
on property:vendor.qcom.soc.machine=*
    setprop ro.soc.model ${vendor.qcom.soc.machine}
