#
# SPDX-FileCopyrightText: The LineageOS Project
# SPDX-License-Identifier: Apache-2.0
#

# Backlight
on early-boot
    chown system system /sys/class/backlight/1a94000.dsi.0/brightness
    chown system system /sys/class/backlight/1a94000.dsi.0/max_brightness

# Graphics (Mesa)
on early-boot && property:ro.hardware.egl=mesa && property:vendor.qcom.soc.machine=MSM8917
    setprop ro.opengles.version 196608
